* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.add_area {
  height: 25vh;
  background-color: aquamarine;
  position: relative;
  box-shadow: 0px 0px 2px 2px rgba(102, 102, 102, 0.128);
}

.add_area-inputs {
  position: absolute;
  top: calc(50% - 20px);
  margin-left: calc(50% - 150px);
}

.task_input {
  height: 33px;
  width: 250px;
  font-size: 14px;
  font-weight: lighter;
  padding-left: 10px;
  border: none;
}

.addtask_btn {
  padding: 10px 20px;
  border: none;
}

.list_area {
  padding: 10px 20px;
  background-color: #ecfdf5;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.list_area-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close_btn {
  margin-left: 10px;
  padding: 6px 9px;
  padding-top: 4px;
  border-radius: 50%;
  border: none;
  float: right;
  cursor: pointer;
  background-color: red;
  color: white;
}

.complete_btn {
  background-color: green;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
}

.content_area {
  background-color: black;
  width: 350px;
  margin: 0 auto;
  color: white;
  margin-top: 50px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.content_area h2 {
  margin-bottom: 20px;
}

.form input {
  width: 200px;
  font-size: 16px;
  padding: 5px 10px;
 margin-top: 10px;
}

.form button {
  width: 220px;
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: gainsboro;
  margin-top: 15px;
}
.form span{
  color: red;
}